<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.inappbrowser"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>PhoneGap InAppBrowser</name>

    <description>
        Exemplo de Teste InAppBroser
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Anderson
    </author>

<gap:platform name="ios" />
<gap:platform name="android" />
<gap:platform name="winphone" />
<icon src="logo_inappbrowser.png" />
<gap:splash src="splash/ios/Default-568h@2x~iphone.png" gap:platform="ios" width="320" height="480" />

<feature name="http://api.phonegap.com/1.0/network" />
<feature name="http://api.phonegap.com/1.0/camera" />
<feature name="http://api.phonegap.com/1.0/notification" />
<feature name="http://api.phonegap.com/1.0/geolocation" />
<feature name="http://api.phonegap.com/1.0/media" />
<feature name="http://api.phonegap.com/1.0/contacts" />
<feature name="http://api.phonegap.com/1.0/file" />
<feature name="http://api.phonegap.com/1.0/battery" />
<feature name="http://api.phonegap.com/1.0/device" />

<gap:plugin name="com.phonegap.plugins.InAppBrowser" />

<access origin="*" />	
<script src="cordova.js"></script>
</widget>
